{% extends 'landing/layout.html' %}

<!-- head -->
{% block head %}

    {% load static %}

    <!-- title -->
    <title>Prendre rdv</title>
    
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <script src="{% static 'js/rdv.js' %}"></script>

{% endblock %}

<!-- body -->
{% block body %}

    <!-- content -->
    <main>
        <div id="contact">
            <!-- infos -->
            <div id="informations">
                <div class="info" id="info-mob">
                    <p class="header">CALL <span id="tiret">-</span> EMAIL</p>
                    <p style="cursor: pointer;" onclick="window.location.href='tel:{{ about.numero }}';">
                        {{ about.numero }}
                    </p>
                    <p style="cursor: pointer;" onclick="window.location.href='mailto:{{ about.email }}';">
                        {{ about.email }}
                    </p>
                </div>

                <div class="info">
                    <p class="header">CALL US</p>
                    <p style="cursor: pointer;" onclick="window.location.href='tel:{{ about.numero }}';">
                        {{ about.numero }}
                    </p>
                </div>

                <div id="or">
                    <p>OR</p>
                </div>

                <div class="info">
                    <p class="header">EMAIL US</p>
                    <p style="cursor: pointer;" onclick="window.location.href='mailto:{{ about.email }}';">
                        {{ about.email }}
                    </p>
                </div>
            </div>

            <!-- form -->   
            <div id="form">
                <form action="{% url 'landing:rdv' %}" method="post" class="contact1-form validate-form">
                    <div id="titre">
                        <h1>RENDEZ<span id="tiret">-</span>VOUS</h1>
                        <p class="intro">Réservez votre place des maintenant&nbsp;!</p>
                    </div>

                    <div class="wrap-input1 validate-input" data-validate = "Nom is required">
                        <input autocomplete="off" class="input1" type="text" name="nom" placeholder="Nom*">
                        <span class="shadow-input1"></span>
                    </div>
                    <div class="wrap-input1 validate-input" data-validate = "Prénom is required">
                        <input autocomplete="off" class="input1" type="text" name="prenom" placeholder="Prénom*">
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="wrap-input1 validate-input" data-validate = "Valid phone number is required">
                        <input autocomplete="off" class="input1" type="number" name="numero" placeholder="Numéro*">
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                        <input autocomplete="off" class="input1" type="email" name="email" placeholder="Email (facultatif)">
                        <span class="shadow-input1"></span>
                    </div>

                    <div id="date" class="wrap-input1 input1 validate-input" data-validate = "Valid date is required"
                    style="display: flex; justify-content: space-between; align-items: center;
                    border-radius: 25px; padding: 0 30px; cursor: pointer;"
                    onclick="document.getElementById('date_input').focus();">
                        <!-- custom placeholder -->
                        <p style="display: flex; align-items: center; height: 50px; color: rgb(151, 151, 151); margin: 0;">
                            Date de rendez-vous*
                        </p>
                        <!-- input date -->
                        <input id="date_input" style="height: 50px; background-color: #e6e6e6;" type="date" name="date_rdv"
                        onfocus="this.showPicker()" required>
                        <span class="shadow-input1"></span>
                    </div>
                    <style>
                        @media (max-width: 400px) {
                            #date {
                                display: block !important;
                            }
                            #date p {
                                text-align: center;
                            }
                        }
                    </style>

                    <div class="select wrap-input1 validate-input wrap-select" data-validate = "Service is required">
                        <!-- <input autocomplete="off" class="input1" type="text" name="subject" placeholder="Subject"> -->
                        <select class="validate-input" name="service" required>
                            <!-- basic choice -->
                            {% if service %}
                                <option style="color: grey" disabled value="service">-- Service* --</option>
                            {% else %}
                                <option style="color: grey" disabled selected value="service">-- Service* --</option>
                            {% endif %}

                            {% for categorie in categories %}
                                {% if categorie.service %}
                                    <option style="color: grey" disabled value="{{ categorie }}">
                                        -- {{ categorie }} --
                                    </option>
                                {% endif %}

                                {% for service in categorie.service %}
                                    {% if service and service.nom == selected.nom %}
                                        <option selected value="{{ categorie }}: {{ service }}">
                                            {{ service }}
                                        </option>
                                    {% else %}
                                        <option value="{{ categorie }}: {{ service }}">
                                            {{ service }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </select>
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="wrap-input1 validate-input" data-validate = "Message is required">
                        <textarea autocomplete="off" class="input1" name="message" placeholder="Quelque chose à ajouter ?"></textarea>
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="container-contact1-form-btn">
                        <button class="contact1-form-btn">
                            <span>
                                Envoyer
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <p id="status"></p>
                </form>
            </div>

            <!-- follow us -->
            <div id="follow">
                <p class="header">FOLLOW US</p>
                <p>
                    <span class="social_network_name">Facebook : </span>
                    <span onclick="window.open('{{ about.lien_facebook }}', '_blank');" style="cursor: pointer;">
                        {{ about.nom_facebook }}
                    </span>
                </p>
                <p onclick="window.open('{{ about.lien_insta }}', '_blank');">
                    <span class="social_network_name">Instagram : </span>
                    <span onclick="window.open('{{ about.lien_insta }}', '_blank');" style="cursor: pointer;">
                        {{ about.nom_insta }}
                    </span>
                </p>
            </div>
        </div>
    </main>
                
{% endblock %}