{% extends 'landing/layout.html' %}


<!-- head -->
{% block head %}

    {% load static %}

    <!-- title -->
    <title>Services</title>

    <!-- page files -->
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <script src="{% static 'js/services.js' %}"></script>

{% endblock %}


<!-- body -->
{% block body %}

    <!-- content -->
    <main>
        <div id="content">
            <header>
                <div id="header-bg">
                    <img src="{% static 'img/header_services.jpg' %}" alt="">
                </div>
                <div id="header-text">
                    <h1>En effet, La mode se démode.</h1>
                    <h1>Le style ? <span>Jamais</span>.</h1>
                    <p id="coco-channel">~ Coco Channel ~</p>
                </div>       
            </header>

            <div id="services">
                <div class="service">
                    <div class="header-title ml-auto pl-50 lg">
                        <h1>MAQUILLAGE</h1>
                    </div>
                    <div class="header-info">
                        <div class="service-img pr-50">
                            <img src="{% static 'img/bg-home-3.jpg' %}" alt="">
                        </div>
                        <div class="service-text pl-50">
                            <!-- title mobile -->
                            <div class="header-title mb">
                                <h1>MAQUILLAGE</h1>
                            </div>
                            <!-- content -->
                            <p>
                                Découvrez l'art de la mise en beauté avec Makeup By Yam.
                                Notre service de maquillage est conçu pour révéler votre éclat naturel
                                et sublimer vos atouts. Nos maquilleurs professionnels sont des
                                experts passionnés, formés pour créer des looks adaptés à votre style
                                et à l'occasion.
                            </p>    
                            <p>
                                La qualité est au cœur de tout ce que nous faisons. Nous utilisons des
                                produits de maquillage haut de gamme, offrant une tenue exceptionnelle
                                tout en prenant soin de votre peau. Votre confort est primordial, et nous veillons
                                à ce que vous vous sentiez à l'aise et confiante avec votre maquillage.
                            </p>
                            <p>
                                Que ce soit pour une soirée spéciale, une séance photo ou simplement pour vous
                                offrir un moment de beauté, notre équipe est là pour répondre à vos besoins.
                                Notre objectif est de vous faire rayonner, de rehausser votre confiance et de
                                créer des looks qui captent les regards. Avec nous, le maquillage devient
                                une œuvre d'art qui révèle la meilleure version de vous-même.
                            </p>
                        </div>
                    </div>
                    <!-- infos -->
                    <div class="drop-down">
                        <div class="drop-down-title-container">
                            <div class="drop-down-title">
                                <h2>Offres et Tarifs</h2>
                            </div>
                            <div class="drop-down-svg-container">
                                <svg viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.00057 14.9732H19.0006C19.1828 14.9727 19.3614 14.9224 19.5173 14.8279C19.6731 14.7333 19.8001 14.5981 19.8848 14.4367C19.9694 14.2753 20.0085 14.0939 19.9977 13.912C19.9869 13.73 19.9267 13.5545 19.8236 13.4042L10.8236 0.40425C10.4506 -0.13475 9.55257 -0.13475 9.17857 0.40425L0.178574 13.4042C0.0743986 13.5542 0.0133079 13.7298 0.00193892 13.912C-0.00943004 14.0943 0.0293576 14.2761 0.114088 14.4379C0.198818 14.5996 0.32625 14.735 0.482538 14.8294C0.638826 14.9238 0.817994 14.9735 1.00057 14.9732Z"
                                    fill="#84847C"/>
                                </svg>   
                            </div>
                        </div>
                        <div class="drop-down-content">
                            {% for categorie in categories_maquillage %}
                                {% if categorie.service %}
                                    <div class="drop-down-info categorie">
                                        <p style="width: 100%; text-align: center;">{{ categorie }}</p>
                                    </div>
                                {% endif %}

                                {% for service in categorie.service %}
                                    <div class="drop-down-info" id="{{ service.id }}"
                                    onclick="window.location.pathname = '/rdv/' + this.id">
                                        <div>
                                            <p>{{ service.nom }}</p>

                                            {% if service.description %}
                                                <em>{{ service.description | safe }}</em>
                                            {% endif %}

                                        </div>
                                        
                                        <span>{{ service.prix }}</span>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="service beige">
                    <div class="header-title mr-auto pr-50 lg">
                        <h1>ATELIER MAKEUP</h1>
                    </div>
                    <div class="header-info header-info-reversed">
                        <div class="service-text pr-50">
                            <!-- title mobile -->
                            <div class="header-title mb">
                                <h1>ATELIER MAKEUP</h1>
                            </div>
                            <!-- content -->
                            <p>
                                Laissez nous vous guider à travers une formation de maquillage exceptionnelle.
                                Plongez dans l'univers envoûtant de la beauté et apprenez les techniques les
                                plus pointues pour maîtriser l'art du maquillage. Nos formateurs expérimentés,
                                passionnés et dévoués, sont là pour vous accompagner à chaque étape.
                            </p>    
                            <p>
                                Chez nous, nous croyons en l'importance de la pratique.
                                Dès le début de la formation, vous aurez l'opportunité de mettre en œuvre vos
                                nouvelles compétences sur des modèles réels, vous permettant ainsi de développer
                                une expertise pratique essentielle. Quels que soient vos objectifs
                                dans l'industrie du maquillage, notre programme est conçu pour répondre
                                à vos besoins, que vous soyez débutant ou que vous cherchiez à perfectionner
                                vos compétences existantes.
                            </p>
                            <p>
                                La qualité est notre signature. Nous mettons à votre disposition des ressources
                                de premier ordre et des produits de maquillage professionnels. Notre engagement
                                est de vous aider à exceller dans votre parcours de formation en maquillage.
                                Rejoignez-nous pour une expérience inoubliable et ouvrez la porte à un monde
                                de créativité, d'assurance et d'opportunités infinies dans le domaine du maquillage.
                            </p>
                        </div>
                        <div class="service-img pl-50">
                            <img src="{% static 'img/bg-home-2.jpg' %}" alt="">
                        </div>
                    </div>
                    <!-- infos -->
                    <div class="drop-down">
                        <div class="drop-down-title-container">
                            <div class="drop-down-title">
                                <h2>Offres et Tarifs</h2>
                            </div>
                            <div class="drop-down-svg-container">
                                <svg viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.00057 14.9732H19.0006C19.1828 14.9727 19.3614 14.9224 19.5173 14.8279C19.6731 14.7333 19.8001 14.5981 19.8848 14.4367C19.9694 14.2753 20.0085 14.0939 19.9977 13.912C19.9869 13.73 19.9267 13.5545 19.8236 13.4042L10.8236 0.40425C10.4506 -0.13475 9.55257 -0.13475 9.17857 0.40425L0.178574 13.4042C0.0743986 13.5542 0.0133079 13.7298 0.00193892 13.912C-0.00943004 14.0943 0.0293576 14.2761 0.114088 14.4379C0.198818 14.5996 0.32625 14.735 0.482538 14.8294C0.638826 14.9238 0.817994 14.9735 1.00057 14.9732Z"
                                    fill="#84847C"/>
                                </svg>   
                            </div>
                        </div>
                        <div class="drop-down-content">
                            {% for service in categories_atelier.service %}
                                    <div class="drop-down-info" id="{{ service.id }}"
                                    onclick="window.location.pathname = '/rdv/' + this.id">
                                        <div>
                                            <p>{{ service.nom }}</p>

                                            {% if service.description %}
                                                <em>{{ service.description | safe }}</em>
                                            {% endif %}

                                        </div>
                                        
                                        <span>{{ service.prix }}</span>
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
{% endblock %}
