/* variables */
:root {
  --white: #FFFFFF;
  --black: #4d504a;
  --Rose_Gold: #B76E79;
  --Ivory_White: #FDFDFD;
  --Dusty_Rose: #D4A6B1;
  --Charcoal_Gray: #333333;
  --grey_border: #e1e1e1;
  --grey: #84847C;
  --beige-bg: #f4f0ed;
  --padding-glob: 40px;
  --Montserrat-Light: Montserrat-Light;
  --PlayfairDisplay-Medium: PlayfairDisplay-Medium;
  --CormorantGaramond-Medium: CormorantGaramond-Medium;
}

/* Fonts */
@font-face {
  font-family: Montserrat-Light;
  src: url(/static/fonts/Montserrat/static/Montserrat-Light.ttf);
}
@font-face {
  font-family: PlayfairDisplay-Medium;
  src: url(/static/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf);
}
@font-face {
  font-family: CormorantGaramond-Medium;
  src: url(/static/fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf);
}
@font-face {
  font-family: Multi;
  src: url(/static/fonts/Multi/MultiText-Regular.otf);
}
/* style */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  width: 100%;
  padding: 0 20px;
}

#categorie-page {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#title {
  padding: 20px 0;
}
#title h1 {
  margin: 0;
  font-family: var(--CormorantGaramond-Medium);
  font-size: 30px;
  color: var(--black);
  text-align: center;
}

#infos_categorie {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#infos_categorie #text_info {
  width: 50%;
}
#infos_categorie #text_info p {
  font-family: var(--Montserrat-Light);
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 30px;
  margin: 0;
  color: var(--black);
}
#infos_categorie #image_info {
  width: 50%;
  margin-left: 100px;
}
#infos_categorie #image_info img {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 800px) {
  #infos_categorie {
    padding: 20px 0;
    flex-direction: column-reverse;
  }
  #infos_categorie #image_info {
    height: 300px;
    width: auto;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  #infos_categorie #image_info img {
    height: 100%;
    width: auto;
  }
  #infos_categorie #text_info {
    width: 100%;
  }
}
#services {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.drop-down {
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-down-title-container {
  margin: 0 auto;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drop-down-title-container .drop-down-svg-container svg {
  margin-top: 6px;
  height: 12px;
  transform: rotate(180deg);
  transition: transform 0.5s ease;
  cursor: pointer;
}
.drop-down-title-container .drop-down-title {
  margin-right: 20px;
}
.drop-down-title-container .drop-down-title h2 {
  font-size: 35px;
  font-family: CormorantGaramond-Medium;
  font-weight: 500;
  color: var(--black);
  margin: 0;
}

.drop-down-content {
  z-index: 10;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease;
}
.drop-down-content .drop-down-info {
  position: relative;
  z-index: 12;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drop-down-content .drop-down-info p, .drop-down-content .drop-down-info span, .drop-down-content .drop-down-info em {
  font-family: Montserrat-Light;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: var(--grey);
}
.drop-down-content .drop-down-info span {
  width: 100px;
  font-weight: 600;
  text-align: end;
  margin-left: 20px;
}
.drop-down-content .drop-down-info em {
  display: block;
  font-size: 15px;
  font-weight: lighter;
  padding-top: 10px;
}
.drop-down-content .drop-down-info:hover {
  background-color: #ECECEC;
  cursor: pointer;
}/*# sourceMappingURL=categories.css.map */